@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
    font-size: 62.5%; /* 16 mult 62.5% = 1.0rem*/
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    font: 1.6rem "Open Sans", sans-serif;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
   
}
*{
    box-sizing: border-box;
}
ul,ol,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, blockquote, figure{
    margin: 0;
    font-weight: normal;
}

a,button{
    padding: 0;
    background: none;
    color: #222;
    border: 0;
    text-decoration: none;
}
img{
    display: inline-block;
    object-fit: cover;
}
